.challenge {
    color:white;
    width:50vw;
    padding:1rem;
    margin:2rem;
    border-radius: 1rem;
    background:rgba(110, 110, 110, 0.4);
    font-family: 'Itim', cursive;
    font-weight: lighter;
    font-size: 1.5rem;
}

.question {
    margin:1.5rem;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: normal;
}

.success {
    background:rgba(35, 99, 38,0.4);
}

.error {
    background:rgba(124, 23, 23,0.4);
}

.submitButton {
    color:white;
    margin:1rem;
}

.submitButton:focus {
    border-color: inherit;
    box-shadow: none;
}

.submitButton:active {
    background-color: rgb(202, 173, 44);
}