
/* font-family: 'Raleway', sans-serif;
font-family: 'Julius Sans One', sans-serif;
font-family: 'Itim', cursive;
font-family: 'VT323', monospace;
font-family: 'Vast Shadow', cursive;
font-family: 'Lovers Quarrel', cursive;
font-family: 'Nosifer', cursive; */

.App {
  text-align: center;
  background-color: #73bbff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(1rem + 2vmin);
  color: rgb(28, 71, 92);
  font-family: 'Julius Sans One', sans-serif;
  font-weight: bolder;
}

.App-link {
  color: #61dafb;
}
