
/* ROUND-SQUARE font-family: 'Raleway', sans-serif;
BIG font-family: 'Julius Sans One', sans-serif;
NORMAL-ROUNDED font-family: 'Itim', cursive;
TETRIS font-family: 'VT323', monospace;
BIG-SHADOW font-family: 'Vast Shadow', cursive;
SMALL-ROUND font-family: 'Lovers Quarrel', cursive;
BLOODY font-family: 'Nosifer', cursive; */

.App {
  text-align: center;
  background-color: #73bbff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(1rem + 2vmin);
  color: rgb(28, 71, 92);
  font-family: 'Julius Sans One', sans-serif;
  font-weight: bolder;
}

.App-link {
  color: #61dafb;
}

::selection {
  color: inherit;
}